@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap");
.heroSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 2rem 2rem 2rem;
  background: #fff;
  margin: auto;
  width: fit-content;
}

.leftCol {
  flex: 1;
  max-width: 600px;
}

.headline {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 2rem;
  color: #111;
}

.subheadline {
  width: 70%;
  margin-bottom: 2.5rem;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 300;
}

.ctaBtn {
  background: #111;
  color: #fff;
  border-radius: 8px;
  padding: 1rem 2.5rem;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.15rem;
  border: none;
  margin-bottom: 2.5rem;
  display: inline-block;
}

.features {
  display: flex;
  gap: 2.5rem;
  margin-top: 1rem;
}

.featureBox {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.icon {
  font-size: 2.2rem;
  background: #f6fafd;
  border-radius: 8px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featureTitle {
  font-size: 1.05rem;
  color: #222;
  font-weight: 500;
}

.rightCol {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.illustration {
  max-width: 520px;
  width: 100%;
  height: auto;
}

@media (max-width: 800px) {
  .headline {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .subheadline {
    margin-bottom: 2em;
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .features {
    gap: 1rem;
  }

  .featureTitle {
    font-size: 0.8rem;
    font-weight: 400;
  }
}

@media (max-width: 600px) {
  .heroSection {
    flex-direction: column;
  }

  .features {
    flex-direction: column;
    gap: 1rem;
  }
  .featureTitle {
    font-size: 1rem;
  }
}
